@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 251 36% 49%;
  --onPrimary: 0 0% 100%;
  --primaryContainer: 255 100% 94%;
  --onPrimaryContainer: 258 100% 19%;
  --primaryFixed: 255 100% 94%;
  --onPrimaryFixed: 258 100% 19%;
  --primaryFixedDim: 252 100% 87%;
  --onPrimaryFixedVariant: 252 44% 39%;
  --secondary: 254 11% 40%;
  --onSecondary: 0 0% 100%;
  --secondaryContainer: 256 68% 93%;
  --onSecondaryContainer: 250 26% 13%;
  --secondaryFixed: 256 68% 93%;
  --onSecondaryFixed: 250 26% 13%;
  --secondaryFixedDim: 257 26% 81%;
  --onSecondaryFixedVariant: 252 13% 31%;
  --tertiary: 336 20% 40%;
  --onTertiary: 0 0% 100%;
  --tertiaryContainer: 341 100% 93%;
  --onTertiaryContainer: 333 48% 13%;
  --tertiaryFixed: 341 100% 93%;
  --onTertiaryFixed: 333 48% 13%;
  --tertiaryFixedDim: 338 60% 83%;
  --onTertiaryFixedVariant: 335 25% 31%;
  --error: 0 75% 42%;
  --errorContainer: 6 100% 92%;
  --onError: 0 0% 100%;
  --onErrorContainer: 358 100% 13%;
  --background: 300 100% 99%;
  --onBackground: 260 5% 11%;
  --outline: 264 4% 48%;
  --inverseOnSurface: 300 19% 95%;
  --inverseSurface: 260 3% 19%;
  --inversePrimary: 252 100% 87%;
  --shadow: 0 0% 0%;
  --surfaceTint: 251 36% 49%;
  --outlineVariant: 265 11% 79%;
  --scrim: 0 0% 0%;
  --surface: 300 56% 98%;
  --onSurface: 260 5% 11%;
  --surfaceVariant: 270 24% 90%;
  --onSurfaceVariant: 260 6% 29%;
  --surfaceContainerHighest: 300 9% 89%;
  --surfaceContainerHigh: 288 12% 92%;
  --surfaceContainer: 300 15% 94%;
  --surfaceContainerLow: 300 24% 96%;
  --surfaceContainerLowest: 0 0% 100%;
  --surfaceDim: 300 6% 86%;
  --surfaceBright: 300 56% 98%;
}

.dark {
  --primary: 252 100% 87%;
  --onPrimary: 253 60% 29%;
  --primaryContainer: 252 44% 39%;
  --onPrimaryContainer: 255 100% 94%;
  --primaryFixed: 255 100% 94%;
  --onPrimaryFixed: 258 100% 19%;
  --primaryFixedDim: 252 100% 87%;
  --onPrimaryFixedVariant: 252 44% 39%;
  --secondary: 257 26% 81%;
  --onSecondary: 253 17% 22%;
  --secondaryContainer: 252 13% 31%;
  --onSecondaryContainer: 256 68% 93%;
  --secondaryFixed: 256 68% 93%;
  --onSecondaryFixed: 250 26% 13%;
  --secondaryFixedDim: 257 26% 81%;
  --onSecondaryFixedVariant: 252 13% 31%;
  --tertiary: 338 60% 83%;
  --onTertiary: 333 33% 22%;
  --tertiaryContainer: 335 25% 31%;
  --onTertiaryContainer: 341 100% 93%;
  --tertiaryFixed: 341 100% 93%;
  --onTertiaryFixed: 333 48% 13%;
  --tertiaryFixedDim: 338 60% 83%;
  --onTertiaryFixedVariant: 335 25% 31%;
  --error: 6 100% 84%;
  --errorContainer: 356 100% 29%;
  --onError: 357 100% 21%;
  --onErrorContainer: 6 100% 92%;
  --background: 260 5% 11%;
  --onBackground: 300 9% 89%;
  --outline: 264 5% 58%;
  --inverseOnSurface: 260 5% 11%;
  --inverseSurface: 300 9% 89%;
  --inversePrimary: 251 36% 49%;
  --shadow: 0 0% 0%;
  --surfaceTint: 252 100% 87%;
  --outlineVariant: 260 6% 29%;
  --scrim: 0 0% 0%;
  --surface: 260 7% 8%;
  --onSurface: 288 5% 78%;
  --surfaceVariant: 260 6% 29%;
  --onSurfaceVariant: 265 11% 79%;
  --surfaceContainerHighest: 270 4% 21%;
  --surfaceContainerHigh: 270 5% 17%;
  --surfaceContainer: 255 6% 13%;
  --surfaceContainerLow: 260 5% 11%;
  --surfaceContainerLowest: 260 10% 6%;
  --surfaceDim: 260 7% 8%;
  --surfaceBright: 270 3% 23%;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #E7E0EC;
  padding: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #CAC4D0;
  border-inline: 1px solid #E7E0EC;
  transition: all 0.25s ease-in;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #6750A4;
}

.dark *::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #49454F;
  padding: 5px;
}

.dark *::-webkit-scrollbar-thumb {
  background-color: #938F99;
  border-inline: 1px solid #49454F;
  transition: all 0.25s ease-in;
}

.dark *::-webkit-scrollbar-thumb:hover {
  background-color: #D0BCFF;
}